@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

html{
    scroll-behavior:smooth;
}

body{
    background:#f5f7fa;
    overflow-x:hidden;
}

/* Hero Section */

.hero{
    position:relative;
    min-height:100vh;

    background:
    url("images/hero.jfif")
    center/cover no-repeat;

    color:white;
}

.overlay{
    position:absolute;
    inset:0;

    background:
    linear-gradient(
    rgba(0,0,0,0.55),
    rgba(0,0,0,0.45)
    );

    z-index:1;
}

/* Navbar */

header{
    position:relative;
    z-index:10;
}

.navbar{
    width:90%;
    margin:auto;

    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:20px 30px;
    margin-top:20px;

    border-radius:15px;

    background:rgba(255,255,255,0.12);

    backdrop-filter:blur(12px);
    -webkit-backdrop-filter:blur(12px);

    border:1px solid rgba(255,255,255,0.2);
}

/* Logo */

.logo{
    font-size:1.5rem;
    font-weight:700;

    display:flex;
    align-items:center;
    gap:10px;
}

.logo i{
    color:#00d4ff;
}

/* Nav Links */

.nav-links{
    display:flex;
    list-style:none;
    gap:35px;
}

.nav-links a{
    text-decoration:none;
    color:white;
    font-size:.95rem;
    transition:.3s;
}

.nav-links a:hover{
    color:#00d4ff;
}

/* Right Side */

.nav-right{
    display:flex;
    align-items:center;
    gap:15px;
}

/* Search */

.search-box{
    background:white;
    border-radius:30px;

    display:flex;
    align-items:center;

    padding:8px 15px;
}

.search-box input{
    border:none;
    outline:none;
    width:180px;
}

.search-box i{
    color:#555;
}

/* Login */

.login-btn{
    border:none;

    background:#00d4ff;
    color:white;

    padding:10px 18px;

    border-radius:30px;
    cursor:pointer;

    transition:.3s;
}

.login-btn:hover{
    transform:translateY(-3px);
}

/* Hero Content */

.hero-content{
    position:relative;
    z-index:2;

    width:90%;
    margin:auto;

    min-height:85vh;

    display:flex;
    justify-content:space-between;
    align-items:center;

    gap:40px;
}

/* LEFT SIDE */

.hero-left{
    flex:1;
    max-width:550px;
}

/* Hero Title */

.hero-left h1{
    font-size:4.5rem;
    line-height:1.1;
    font-weight:800;
}

.hero-left span{
    color:#00d4ff;
}

/* Paragraph */

.hero-left p{
    margin-top:25px;
    line-height:1.8;
    color:#f0f0f0;
}

/* Button */

.explore-btn{
    margin-top:30px;

    background:#00d4ff;
    color:white;

    border:none;

    padding:14px 30px;

    border-radius:30px;
    cursor:pointer;

    font-weight:600;

    transition:.3s;
}

.explore-btn:hover{
    transform:translateY(-5px);
}

/* Destination Cards */

.hero-right{
    flex:1;

    display:flex;
    gap:20px;
}

.destination-card{
    width:260px;

    background:white;
    color:#222;

    border-radius:12px;

    overflow:hidden;

    box-shadow:
    0 15px 35px rgba(0,0,0,.25);

    transition:.4s;
}

.destination-card:hover{
    transform:
    translateY(-10px)
    scale(1.03);
}

.destination-card img{
    width:100%;
    height:180px;
    object-fit:cover;
}

.card-content{
    padding:20px;
}

.card-content h3{
    margin-bottom:10px;
}

.card-content p{
    font-size:.9rem;
    color:#666;

    min-height:80px;
}

.card-content button{
    margin-top:15px;

    border:none;

    background:#00d4ff;
    color:white;

    padding:10px 18px;
    border-radius:6px;

    cursor:pointer;
}

/* Destinations Grid */

.destinations{
    padding:100px 8%;
}

.destinations h2{
    text-align:center;
    font-size:2.5rem;
    margin-bottom:50px;
}

.destinations-grid{
    display:grid;

    grid-template-columns:
    repeat(auto-fit,minmax(280px,1fr));

    gap:25px;
}

.grid-card{
    height:250px;
    border-radius:15px;

    background-size:cover;
    background-position:center;

    display:flex;
    align-items:flex-end;

    padding:20px;
    color:white;

    overflow:hidden;

    transition:.4s;
}

.grid-card:hover{
    transform:translateY(-10px);
}

.beirut{
    background:
    linear-gradient(rgba(0,0,0,.4),rgba(0,0,0,.4)),
    url("images/beirut.webp");
    background-size: cover;
    background-position: center;
}

.jeita{
    background:
    linear-gradient(rgba(0,0,0,.4),rgba(0,0,0,.4)),
    url("images/jeita-grotto.webp");
    background-size: cover;
    background-position: center;
}

.byblos{
    background:
    linear-gradient(rgba(0,0,0,.4),rgba(0,0,0,.4)),
    url("images/byblos-destination.jpg");
    background-size: cover;
    background-position: center;
}

.batroun{
    background:
    linear-gradient(rgba(0,0,0,.4),rgba(0,0,0,.4)),
    url("images/batroun.jpg");
    background-size: cover;
    background-position: center;
}

.south{
    background:
    linear-gradient(rgba(0,0,0,.4),rgba(0,0,0,.4)),
    url("images/south.webp");
    background-size: cover;
    background-position: center;
}

.cedars{
    background:
    linear-gradient(rgba(0,0,0,.4),rgba(0,0,0,.4)),
    url("images/cedars-of-god.webp");
    background-size: cover;
    background-position: center;
}
/* Stats */

.stats{
    background:#0d1b2a;

    color:white;

    padding:80px 10%;

    display:flex;
    justify-content:space-between;
    text-align:center;
}

.stat-box h3{
    font-size:2.2rem;
    color:#00d4ff;
}

.stat-box p{
    margin-top:10px;
}

/* Footer */

footer{
    background:#081018;
    color:white;

    text-align:center;

    padding:50px 20px;
}

footer h2{
    margin-bottom:15px;
}

footer p{
    color:#cfcfcf;
}

.footer-social{
    margin:25px 0;

    display:flex;
    justify-content:center;
    gap:20px;
}

.footer-social i{
    font-size:1.2rem;
    cursor:pointer;
    transition:.3s;
}

.footer-social i:hover{
    color:#00d4ff;
}

.copyright{
    margin-top:20px;
    font-size:.9rem;
}

/* Tablet */

@media(max-width:992px){

    .hero-content{
        flex-direction:column;
        text-align:center;
        padding-top:50px;
    }

    .hero-left{
        max-width:100%;
    }

    .social-icons{
        flex-direction:row;
        justify-content:center;
    }

    .hero-right{
        flex-wrap:wrap;
        justify-content:center;
    }

    .stats{
        flex-wrap:wrap;
        gap:30px;
    }
}

/* Mobile */

@media(max-width:768px){

    .navbar{
        flex-direction:column;
        gap:20px;
    }

    .nav-links{
        flex-direction:column;
        text-align:center;
        gap:15px;
    }

    .nav-right{
        flex-direction:column;
    }

    .search-box input{
        width:150px;
    }

    .hero-left h1{
        font-size:3rem;
    }

    .hero-right{
        flex-direction:column;
        align-items:center;
    }

    .destination-card{
        width:100%;
        max-width:320px;
    }

    .stats{
        flex-direction:column;
    }
}

/* Small Phones */

@media(max-width:480px){

    .hero-left h1{
        font-size:2.3rem;
    }

    .hero-left p{
        font-size:.95rem;
    }

    .search-box{
        width:100%;
    }

    .search-box input{
        width:100%;
    }

    .destinations h2{
        font-size:2rem;
    }
}